
/*******************************
        Blockly toolbox
*******************************/

div.blocklyTreeRow {
    box-shadow: inset 0 -1px 0 0 var(--pxt-target-stencil3);

    margin-bottom: 0px !important;

    -webkit-transition-property: background-color; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: background-color;
    transition-duration: 1s;
}

/* Blockly toolbox font size same as the page font */
span.blocklyTreeLabel {
    font-family: @pageFont !important;
    font-weight: 200;
}

.blocklyToolbox, .monacoToolboxDiv {
    background-color: var(--pxt-target-background3) !important;
    color: var(--pxt-target-foreground3);
    box-shadow: 4px 0px 2px -4px var(--pxt-neutral-alpha10), 4px 0px 2px -4px var(--pxt-neutral-alpha20);
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    .blocklyToolbox, .monacoToolboxDiv {
        border-left: 0 !important;
    }
    div.blocklyTreeRoot {
        padding: 0;
    }
}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
    .blocklyToolbox, .monacoToolboxDiv {
        border-left: 0 !important;
    }
    div.blocklyTreeRoot {
        padding: 0;
    }
}