/* Import all components */
@import 'pxtsemantic';
@import 'pxt';
@import 'themepacks';
@import 'blockly-toolbox';
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*******************************
    Add your custom CSS here
*******************************/

/* Import font definitions */
@import 'fonts';

@font-face {
    font-family: 'Roboto';
}

:root, .pxt-theme-root {
    --pxt-page-font: @pageFont;
}

.ui.button.download-button {
    background-color: var(--pxt-primary-background);
    color: var(--pxt-primary-foreground);
}

.ui.button.download-button:hover {
    background-color: #30a7a7;
    color: white;
}
.ui.button.hw-button {
    background-color: var(--pxt-primary-accent) !important;
    color: var(--pxt-primary-foreground) !important;
}

.docs.inlinebutton.ui.button.download-button:hover {
    background-color: var(--pxt-primary-background);
    color: var(--pxt-primary-foreground);
}

#editortools .ui.button.editortools-btn, .simtoolbar .ui.button.icon {
    background-color: var(--pxt-secondary-background);
    color: var(--pxt-secondary-foreground);

    &:hover {
        filter: none;
        background-color: var(--pxt-secondary-background-hover);
        color: var(--pxt-secondary-foreground-hover);
    }
}

#simulator .ui.button.play-button .icon.play {
    color: var(--pxt-secondary-foreground) !important;
}

.ui.button.exit-tutorial-btn {
    &:extend(.ui.blue.button all);
}

#filelist, #editortools, .fullscreensim #boardview {
    background: #fff data-uri("../docs/static/logo_texture.png") 0 0 repeat !important;
}
.fullscreensim #mainmenu {
    background: #1b1c1d !important;
}

#downloadArea {
    background: transparent !important;
}

.ui.home {
    .getting-started-segment {
        background-position: 50% 25%;
    }
}

.ui.searchdialog .ui.card .ui.cardimage.upload {
    margin: auto;
    padding: 25% 0;
}

// Safari Only for iPad and iPhone
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        #mainmenu .right.menu {
            margin-right: 4rem;
        }
    }
}

.time-machine-header {
    background-color: @blue;
}

.time-machine-preview {
    // Loading div that appears while projects are importing
    & > div {
        background: #e8e8e8
    }
}

#root:not(.hc) .tutorial-menu {
    .ui.circular.label.selected {
        background-color: @purple !important;
        color: #e8e8e8 !important;
        border: 1px solid #e8e8e8 !important;

        &:focus, &:hover {
            background-color: darken(@purple, 20%) !important;
        }
    }
}

.menubar {
    .ui.menu .brand .ui.logo {
        height: 1.1rem;
    }
}

// Safari Only for iPad and iPhone second rule
@supports (-webkit-touch-callout: none) {
    #mainmenu .right.menu {
        margin-right: 4rem;
    }
}


.ui.black.microbit-ribbon.label {
    position: absolute;
    border-radius: 0;
    margin: 0;
    right: 0;
    width: 45%;
    height: 25%;
    &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 196 35"><path d="M115.7 99.6H96.4l-2.7-17.3c-2.6-2.6-5.8-4.6-9.7-6.1S75.5 74 70.2 74q-16.95 0-26.1 12.3C38 94.5 35 105.2 35 118.4v4.5c0 13.2 3 23.9 9.1 32.2s14.6 12.4 25.7 12.4 9.8-.7 14-2.2c4.3-1.5 7.5-3.5 9.8-6.1l2.7-17.3h19.3v25.7c-5.2 6.1-11.9 10.9-20 14.5s-17.2 5.4-27.2 5.4c-17.4 0-31.7-6-42.8-18.1S8.9 141.9 8.9 123v-4.4c0-18.8 5.5-34.3 16.6-46.4C36.5 60.1 50.8 54 68.4 54s19.1 1.8 27.2 5.5 14.8 8.5 20 14.5v25.7zM152.7 170l9.3-1.3 39.5-112.8h26.6l39.2 112.8 9.3 1.3v15.6h-44.2V170l9-1.6-5.7-17.8h-42.1l-5.7 17.8 9 1.6v15.6h-44.2zm47.1-38.6h29.8L215 85.7h-.5l-14.6 45.7zM311.6 185.6V170l13.8-2.7V74.2l-13.8-2.7V55.8h53.7v15.7l-13.9 2.7v91.4H388l1.2-16.3h19.9v36.3h-97.6zM445 185.6V170l13.8-2.7V74.2L445 71.5V55.8h53.7v15.7l-13.9 2.7v91.4h36.6l1.2-16.3h19.9v36.3h-97.6zM578.3 71.5V55.8H632v15.7l-13.9 2.7v93.1L632 170v15.6h-53.7V170l13.9-2.7V74.2zM786.9 121.7c0 19-5.4 34.7-16.3 47.1s-25.1 18.6-42.7 18.6-31.7-6.2-42.5-18.6q-16.2-18.6-16.2-47.1v-2c0-18.9 5.4-34.6 16.1-47.1 10.8-12.5 24.9-18.7 42.4-18.7s31.8 6.2 42.7 18.7 16.4 28.2 16.4 47.1v2zm-25.9-2.1q0-20.1-8.4-32.7c-5.6-8.4-13.8-12.6-24.8-12.6s-19.1 4.2-24.5 12.5-8.1 19.2-8.1 32.8v2.1q0 20.55 8.1 33c5.4 8.3 13.6 12.5 24.5 12.5s19.2-4.2 24.8-12.5 8.3-19.4 8.3-33v-2.1zM885.6 55.9c14.8 0 26.6 3.8 35.2 11.5s12.9 17.6 12.9 30-4.3 22.4-12.9 29.9-20.3 11.3-35.2 11.3h-21.9v28.8l13.9 2.7v15.6h-53.7v-15.6l13.8-2.7V74.3l-13.8-2.7V55.9zm-21.9 62.6h21.9c7.3 0 12.7-2 16.4-5.9 3.7-4 5.6-9 5.6-15.1S905.7 86.1 902 82s-9.2-6.1-16.4-6.1h-21.9zM1052.1 128.6h-43.9v37.1h41.9l1.2-15.5h19.8v35.5H968.5v-15.6l13.8-2.7V74.3l-13.8-2.7V55.9H1071v35.5h-20l-1.2-15.5h-41.5v32.6h43.9v20z" style="fill:#fff;fill-rule:nonzero" transform="translate(2.882 -4.155)scale(.17614)"/></svg>');
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.55);
    }
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    #filelist {
        background: transparent !important;
    }
    #blocklySearchArea {
        display: none !important;
    }
    .ui.black.microbit-ribbon.label {
        width: 50%;
        height: 25%;
        &::before {
            transform: scale(0.40);
        }
    }
}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
    #filelist {
        background: transparent !important;
    }
    .ui.black.microbit-ribbon.label {
        width: 55%;
        height: 20%;
        &::before {
            transform: scale(0.45);
        }
    }
}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {
}


/* Download dialog */
.ui.downloaddialog.modal>.content {
    padding: 1rem;
}

.ui.webusbpair, .ui.upload {
    .firmware {
        background-color: #FFFFCE;
        div.image {
            justify-content: center;
            display: flex;
            padding: 1rem;

            img {
                height:100px;
            }
        }
    }
    .instructions {
        img {
            margin-bottom:1rem;
        }
    }
}

.coloredToolbox .blocklyTreeRoot div.blocklyTreeRow {
    border-width: 8px !important;
    padding-right: 0px;
}

.pxtToolbox span.blocklyTreeLabel {
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
}

.dimmed.dimmable .ui.dimmer {
    backdrop-filter: blur(7px);
}

#editortoggle {
    padding-right: 3rem;
}

#mainmenu .user-dropdown-menuitem.logged-in-dropdown {
    padding: .5em;
}

/* Make the Sign In button more subtle and less prominent when logged out */
#mainmenu .user-dropdown-menuitem.sign-in-dropdown {
    padding: .5em;
    opacity: 0.6;

    .signin-button {
        background-color: transparent !important;
        height: auto;
        color: hsla(0, 0%, 100%, .9) !important;
        border: none;
        
        .icon {
            font-size: 1.5em;
        }
        
        .text {
            display: none !important;
        }
    }
    
    &:hover {
        opacity: 1;

        .icon {
            transform: scale(1.2);
        }
    }
}


.user-profile .profile-email {
    display: none;
}

.main .project-share-thumbnail .project-thumbnail-placeholder, .project-share-thumbnail img {
    height: auto;
    background-color: transparent;
}