/* Import all components */
@import 'pxtsemantic';
@import 'pxt';
@import 'themepacks';
@import 'blockly-toolbox';
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*******************************
    Add your custom CSS here
*******************************/

/* Roboto font */
@RobotoMonoFont: data-uri("../docs/static/fonts/roboto-mono-v7-latin-regular.woff");

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: @RobotoMonoFont format('woff');
  }
.ui.button.download-button {
    &:extend(.ui.purple.button all);
}

.ui.button.download-button:hover {
    background-color: #30a7a7;
    color: white;
}

.docs.inlinebutton.ui.button.download-button:hover {
    &:extend(.ui.purple.button all);
}

.ui.button.play-button.play-button-full {
    &:extend(.ui.inverted.button all);
}

.ui.button.getting-started-btn {
    &:extend(.ui.orange.button all);
}

.ui.button.editortools-btn {
    &:extend(.ui.blue.button all);
}

.ui.button.exit-tutorial-btn {
    &:extend(.ui.blue.button all);
}

#filelist, #editortools, .fullscreensim #boardview {
    background: #fff data-uri("../docs/static/logo_texture.png") 0 0 repeat !important;
}
.fullscreensim #mainmenu {
    background: #1b1c1d !important;
}

#downloadArea {
    background: transparent !important;
}

.ui.home {
    .getting-started-segment {
        background-position: 50% 25%;
    }
}

.ui.searchdialog .ui.card .ui.cardimage.upload {
    margin: auto;
    padding: 25% 0;
}

// Safari Only for iPad and iPhone
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        #mainmenu .right.menu {
            margin-right: 4rem;
        }
    }
}
// Safari Only for iPad and iPhone second rule
@supports (-webkit-touch-callout: none) {
    #mainmenu .right.menu {
        margin-right: 4rem;
    }
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    #filelist {
        background: transparent !important;
    }
    #blocklySearchArea {
        display: none !important;
    }
}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
    #filelist {
        background: transparent !important;
    }
}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {
}


/* Download dialog */
.ui.downloaddialog.modal>.content {
    padding: 1rem;
}

.ui.webusbpair, .ui.upload {
    .firmware {
        background-color: #FFFFCE;
        div.image {
            justify-content: center;
            display: flex;
            padding: 1rem;

            img {
                height:100px;
            }
        }
    }
    .instructions {
        img {
            margin-bottom:1rem;
        }
    }
}