.gallerysegment .ui.card.link.cloudprojectscard {
    /* Differentiate from New Project button */
    background-color: var(--pxt-colors-teal-background) !important;
    color: var(--pxt-colors-teal-foreground) !important;
}

.filemenu {
    /* File menu in calliope does not use primary color */
    background-color: #1B1C1DFF !important;
    color: #FFFFFF !important;
}

.filemenu .item.active {
    /* Adjust active file menu item to account for darker background (above) */
    background-color: rgba(255, 255, 255, 0.2) !important;
    outline: 1px solid hsla(0, 0%, 100%, .5);
}